src/main/app/smartOfficeApi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="smartOfficeApi-httpListenerConfig" host="0.0.0.0" port="8099" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="smartOfficeApi-config" raml="smartOfficeApi.raml" consoleEnabled="false" doc:name="Router">
        <apikit:flow-mapping resource="/smart-office-api" action="get" flow-ref="get:/smart-office-api:smartOfficeApi-config"/>
        <apikit:flow-mapping resource="/smart-office-api/{batchId}" action="get" flow-ref="get:/smart-office-api/{batchId}:smartOfficeApi-config"/>
    </apikit:config>
    <api-platform-gw:api apiName="groupId:9e547ab1-7ff4-48e2-8960-194ba8fd3c5c:assetId:smartofficeapi" flowRef="smartOfficeApi-main" version="1.0:15739283" create="true" doc:name="API Autodiscovery" >
    <api-platform-gw:description>This APi is used to fetch details from smart office application.</api-platform-gw:description>
    <api-platform-gw:tag>kunal-mule-sample</api-platform-gw:tag>
    </api-platform-gw:api>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="smart_office_auto" doc:name="MySQL Configuration"/>
    <flow name="smartOfficeApi-main">
        <http:listener config-ref="smartOfficeApi-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="smartOfficeApi-config" doc:name="APIkit Router"/>
        <exception-strategy ref="smartOfficeApi-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="smartOfficeApi-console">
        <http:listener config-ref="smartOfficeApi-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="smartOfficeApi-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/smart-office-api:smartOfficeApi-config">
        <logger message="Get Batch details intiated" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * FROM batch]]></db:parameterized-query>
        </db:select>
        <dw:transform-message metadata:id="d53449eb-ba1b-4caa-8a06-37b1cf7bab7c" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	BatchDetails: payload map ((payload01 , indexOfPayload01) -> payload01)
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Batch API End" level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="get:/smart-office-api/{batchId}:smartOfficeApi-config">
        <logger message="Get Batch by Id details intiated" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT * FROM batch where batchid = #[flowVars.batchId]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message metadata:id="d53449eb-ba1b-4caa-8a06-37b1cf7bab7c" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	BatchDetails: payload map ((payload01 , indexOfPayload01) -> payload01)
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Batch by Id API End" level="INFO" doc:name="Logger"/>

    </flow>
    <apikit:mapping-exception-strategy name="smartOfficeApi-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
